.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 46rem;
  height: 287px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 46rem;
  padding: 0px;
  gap: 8px;
  margin-top: -30px;
}

.inputContainer input {
  outline: none;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  width: 638px;
  height: 52px;
  padding: 1rem;
  transition: all ease-in-out 0.3s;
}

.inputContainer input:focus {
  color: var(--gray-100);
  border: 1px solid var(--purple-dark);
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  gap: 0.5rem;
  width: 90px;
  height: 52px;
  border-radius: 8px;
  background: var(--blue-dark);
  border: 1px solid var(--blue-dark);
  color: var(--gray-100);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.inputContainer button:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.header h1 {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: bold;
  gap: 8px;
}

.header h2 {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: bold;
  gap: 8px;
}

.cardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.cardList aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 15.5rem;
  width: 46rem;

  background-color: var(--gray-600);
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  padding: 16px;
  /* margin-bottom: 0.75rem; */
}

.cardList aside p {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.4;
  color: var(--gray-300);

  flex-grow: 0;
  flex-shrink: 0;

  padding: 0 12px;
}

.cardList aside p strong {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  color: var(--gray-300);

  padding: 0 12px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.card input {
  margin-left: 20px;
  text-decoration: line-through;
  background: var(--purple);
  border-radius: 8px;
}

.card p {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
  padding: 1rem 0.75rem;
  border-radius: 50%;
}

.card button {
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  color: var(--gray-300);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  margin-right: 1rem;
}

.card button:hover {
  background: var(--gray-400);
  color: var(--danger);
}
